<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пример: Шифр Цезаря</title>

    <!-- Это наш стиль -->
    <link href="main.css" rel="stylesheet" />
<!-- А если нету поддержки HTML 5, тогда загрузим это -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body ng-app>
    <!-- Header -->
    <div id="header_div" class="header_div">Шифр Цезаря</div>

    <!-- Body -->
    <div id="body_div" class="body_div">
        <table>
            <tr>
                <td>
                    <textarea cols="35" rows="15" ng-model="leftTextArea"></textarea>
                </td>
                <td>
                    <label>ROT:</label>
                    <input type="text" size="3" maxlength="4" ng-model="rotateStep">
                    <br><br>
                    <button>Enccode</button>    <!-- TODO: Добавить действия кнопки-->
                    <button>Decode</button>     <!-- TODO: Добавить действия кнопки-->
                </td>
                <td>
                    <textarea cols="35" rows="15" readonly ng-model="rightTextArea"></textarea>
                </td>
            </tr>
        </table>
    </div>

    <!-- Footer -->
    <div id="footer_div" class="footer_div"></div>

    <!-- Подключим AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="caeser_ui.js"></script>
</body>
</html>