* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

div.header {
    text-align: left;
    width: 800px;
    border: 1px solid;
    margin: 0 auto;
    padding: 5px;
}