* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    margin: 0 auto;
}

div.header_div {
    text-align: left;
    width: 800px;
    border: 1px solid;
    margin: 0 auto;
    padding: 5px;
}

div.body_div {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    /*border: 1px solid;*/
}

div.body_div table {
    text-align: left;
    margin: 0 auto;
}

div.footer_div {
    text-align: left;
    width: 800px;
    border: 1px solid;
    margin: 0 auto;
}